{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleSearch.css' %}">
</head>

<body>
  <header>
    <div class="navbar">
      <div class="navbarRight">
          <a href="/"> <img src="/static/images/Logo AKS Shadows.png" height="80px", width="80px" id="logo"></a>

        <form method="post" action="/search/">
            {% csrf_token %}
            <input type="search" placeholder="Search Movies" id="PesquiseAqui" name="search">
            <button id="Botao" type="submit" style="padding-top: 5px; padding-bottom: 7px;">Search</button>
        </form>
      </div>    
      <div class="navbarLeft">
        <ul id="ListaButoes">
            <a href="/"><span><li id="ItensListaButoes">Home</li></span></a>
            <a href="movies/" ><li id="ItensListaButoes">Movies</li></a>
        </ul>
        <div class="Login">
          {% if request.user.is_authenticated %}
              <a href="/logout/"><button id="Botao" style="width: 100px;">Logout</button></a>
          {% else %}
              <a href="/login/"><button id="Botao" style="width: 100px;">Login</button></a>
              <a href="/registrar/"><button id="Botao">Register</button></a>
          {% endif %}
        </div>
        <div class="profile-pic-nav-container">
          {% if request.user.is_authenticated %}
            <a href="/profile/{{ request.user.username }}"><img src="{{ request.user.profile.image.url }}" class="profile-pic-nav"></a>
          {% endif %}
        </div>
      </div>  
    </div>
  </header>

  <div class="add-watched-info">
  <div class="MainBoardTop">
    <div class="Title">
      {% if movie %}
      <h1 style="margin-bottom:8px">{{ movie.title }}</h1>
    {% else %}
        <p>No movie data found.</p>
    {% endif %}
    </div>
  </div>
  <div class="MainBoardContent" style="gap: 2vw;">
    <!-- <div class="Poster"> -->
       <!-- <img style="width:250px"src="/static/images/Poster Example.jpg"> -->
       <img style="width:250px; border-radius: 20px;" src={{ movie.poster }}>
    <!-- </div> -->
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div style="display:flex; flex-direction:column; align-items: center; justify-content: center; padding-top: 30px; gap:20px">
        <div class="add_watched">
          <p style='font-size:150%;'><b>Rating:</b></p>
          <select name='rating' id="numbers">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <button type="submit" id="Botao" style="margin-top: 20px;"><b>Add</b></button>
      </div>
    </form>
  </div>

</body>
</html>
