@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Paleta de cores:
    - #0B2447
    - #19376D
    - #576CBC
    - #A5D7E8

  Tons da Logo:
    - #472E0B
    - #6D5019
    - #BC9E57
  Fonte: Poppins
*/

:root {

}

*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins;
  color: white;
  scroll-behavior: smooth;
}

body{
    background-color: #313866   ;
}
header{
    background-color: #2d325b;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 34px;
    box-shadow: 0px 15px 15px -3px rgba(0,0,0,0.2);

}

.navbarRight{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
  padding:4px;
  padding-top:8px;
}

#logo:hover{
  animation: logo-animation1 0.5s, logo-animation3 1s 0.5s, logo-animation2 0.5s 1.5s;
  width:80px;
}


@keyframes logo-animation1 {
  0%{
    content: url('/static/images/animation/livro00.png');
    width:80px;

  }
  10% {
    content: url('/static/images/animation/livro01.png');
    width:80px;
  }
  20% {
    content: url('/static/images/animation/livro02.png');
    width:80px;
  }
  30% {
    content: url('/static/images/animation/livro03.png');
    width:80px;
  }
  40% {
    content: url('/static/images/animation/livro04.png');
    width:80px;
  }
  50% {
    content: url('/static/images/animation/livro05.png');
    width:80px;
    animation-timing-function: steps(1);
  }
  60% {
    content: url('/static/images/animation/livro06.png');
    width:80px;
  }
  70% {
    content: url('/static/images/animation/livro07.png');
    width:80px;
  }
  80% {
    content: url('/static/images/animation/livro08.png');
    width:80px;
  }
  90% {
    content: url('/static/images/animation/livro09.png');
    width:80px;
  }
  100% {
    animation-delay:2s;
    content: url('/static/images/animation/livro09.png');
    width:80px;
  }

}
@keyframes logo-animation2 {
  0%,10% {
    content: url('/static/images/animation/livro09.png');
    width:80px;
  }
  20% {
    content: url('/static/images/animation/livro08.png');
    width:80px;
  }  
  30% {
    content: url('/static/images/animation/livro07.png');
    width:80px;
}
  40% {
    content: url('/static/images/animation/livro06.png');
    width:80px;
  }
  50% {
    content: url('/static/images/animation/livro05.png');
    width:80px;
  }
  60% {
    content: url('/static/images/animation/livro04.png');
    width:80px;
  }
  70% {
    content: url('/static/images/animation/livro03.png');
    width:80px;
  }
  80% {
    content: url('/static/images/animation/livro02.png');
    width:80px;
  }
  90% {
    content: url('/static/images/animation/livro01.png');
    width:80px;
  }
  100%{
    content: url('/static/images/animation/livro00.png');
    width:80px;
  }
}
@keyframes logo-animation3 {
  0% {
    content: url('/static/images/animation/livro09.png');
    width: 80px;
  }
  100% {
    content: url('/static/images/animation/livro09.png');
    width: 80px;
  }
}

.navbarLeft{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ListaButoes{
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}
#ListaButoes a{
    text-decoration: none;
}
#ItensListaButoes{
    margin: 10px;
    padding: 15px;
    transition: transform 0.12s, color 0.12s;
}

#ListaButoes li:hover{
    transform: scale(1.1);
    color:#576CBC ; 

}
#Botao{
    margin: 7px;
    padding: 10px;
    border: 3px solid  #576CBC;
    border-radius: 25px;
    background-color: transparent;
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.3s, color 0.12s;
}
#Botao:hover{
    transform: scale(0.94);
    background-color: rgba(165, 215, 232, 0.2);

}
#PesquiseAqui{
  margin-left: 200px;
  background-color: #0B2447;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 25px;
  padding: 10px 10px 10px 20px;
  width: 25vw;
}
#PesquiseAqui::placeholder{
  color: white;
  opacity:30%;
}
#h1main{
  display: flex;
  flex-direction: column;
  text-align: center;
}
#BotaoEdit{
  margin: 7px;
  padding: 10px 20px 10px 20px;
  border: 3px solid  #576CBC;
  border-radius: 25px;
  background-color: transparent;
  font-size: 17px;
  cursor: pointer;
  transition: transform 0.3s, color 0.12s;
}
#BotaoEdit:hover{
  transform: scale(0.94);
  background-color: rgba(165, 215, 232, 0.2);
}

#NotAuth {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-pic-nav{
  width: 55px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 10px;
  transition: transform 0.3s;
  border: 3px solid #576CBC;
}

.profile-pic-nav:hover{
  transform: scale(0.94);
  border-color: #A5D7E8
}

.profile-pic{
  width: 6vw;
  border-radius: 50%;
  border: 3px solid #576CBC;
}

.main{
  display: flex;
  margin-top:30px;
  align-content: center;
  flex-direction: row;
}

.selecaoGenero{
  display:fixed;
  flex-direction:column;
  width: 40vh;
  height:100%;
  margin-left:40px;
  border-right: 7px solid #576CBC;
  border-bottom: 7px solid #576CBC;
  border-radius:10px;
  padding-bottom:10px;
  

}

.mainPage{
  /* width: 200vh; */
  height:100%;
  margin-left:10px;
}
#ListGenero{
  text-decoration:none;
  list-style-type: none;
  width:120px;
}
.selecaoGenero li{
  border: 4px solid #576CBC;
  border-radius:35px;
  padding:5px 10px 5px 10px;
  margin: 5px;
  text-align:center;
  
  
  
}
.selecaoGenero li:hover{
    transform: scale(0.94);
    background-color: rgba(165, 215, 232, 0.2);

}
#TopRated,#Popular,#Action,#Adventure,#Comedy,#Drama,#Horror,#Sci-fi,#Documentary,#Music,#Romance{
  height:250px;
  margin:20px 0px 0px 20px;
  /* border:6px solid black; */
}

.listFilm{
  margin-top:10px;
  display:flex;
  flex-direction:row;
  align-content:center;
  overflow-x:scroll;
  width:1100px;

}
.listFilm::-webkit-scrollbar{
  margin-top:10px;
  background-color:transparent;
  width:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}
.listFilm::-webkit-scrollbar-thumb{
  background-color:#0B2447;
  border-radius:25px;
  width:5px;
  height:10px;
}

.poster{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  margin:0px 10px 0px 10px;

  position:relative;
}
.posterIMG{
  display:block;
  width:100%;
}
.posterOverlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.6);
  color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  opacity:0;
  transition: opacity 0.25s;
  text-align:center;
  text-decoration:bold;
}
.posterOverlay:hover{
  opacity:1.0;
}
.poster:hover{
  -webkit-filter: brightness(90%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}