@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Paleta de cores:
    - #0B2447
    - #19376D
    - #576CBC
    - #A5D7E8

  Tons da Logo:
    - #472E0B
    - #6D5019
    - #BC9E57
  Fonte: Poppins
*/

:root {
  
}

*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins;
  color: white;
}

body{
    background-color: #313866   ;
}
header{
    background-color: #2d325b;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 34px;
    box-shadow: 0px 15px 15px -3px rgba(0,0,0,0.2);

}

.navbarRight{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
  padding:4px;
  padding-top:8px;
}

#logo:hover{
  animation: logo-animation1 0.5s, logo-animation3 1s 0.5s, logo-animation2 0.5s 1.5s;
  width:80px;
}


@keyframes logo-animation1 {
  0%{
    content: url('/static/images/animation/livro00.png');
    width:80px;
    
  }
  10% {
    content: url('/static/images/animation/livro01.png');
    width:80px;
  }
  20% {
    content: url('/static/images/animation/livro02.png');
    width:80px;
  }
  30% {
    content: url('/static/images/animation/livro03.png');
    width:80px;
  }
  40% {
    content: url('/static/images/animation/livro04.png');
    width:80px;
  }
  50% {
    content: url('/static/images/animation/livro05.png');
    width:80px;
    animation-timing-function: steps(1);
  }
  60% {
    content: url('/static/images/animation/livro06.png');
    width:80px;
  }
  70% {
    content: url('/static/images/animation/livro07.png');
    width:80px;
  }
  80% {
    content: url('/static/images/animation/livro08.png');
    width:80px;
  }
  90% {
    content: url('/static/images/animation/livro09.png');
    width:80px;
  }
  100% {
    animation-delay:2s;
    content: url('/static/images/animation/livro09.png');
    width:80px;
  }
  
}
@keyframes logo-animation2 {
  0%,10% {
    content: url('/static/images/animation/livro09.png');
    width:80px;
  }
  20% {
    content: url('/static/images/animation/livro08.png');
    width:80px;
  }  
  30% {
    content: url('/static/images/animation/livro07.png');
    width:80px;
}
  40% {
    content: url('/static/images/animation/livro06.png');
    width:80px;
  }
  50% {
    content: url('/static/images/animation/livro05.png');
    width:80px;
  }
  60% {
    content: url('/static/images/animation/livro04.png');
    width:80px;
  }
  70% {
    content: url('/static/images/animation/livro03.png');
    width:80px;
  }
  80% {
    content: url('/static/images/animation/livro02.png');
    width:80px;
  }
  90% {
    content: url('/static/images/animation/livro01.png');
    width:80px;
  }
  100%{
    content: url('/static/images/animation/livro00.png');
    width:80px;
  }
}
@keyframes logo-animation3 {
  0% {
    content: url('/static/images/animation/livro09.png');
    width: 80px;
  }
  100% {
    content: url('/static/images/animation/livro09.png');
    width: 80px;
  }
}

.navbarLeft{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ListaButoes{
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}
#ListaButoes a{
    text-decoration: none;
}
#ItensListaButoes{
    margin: 10px;
    padding: 15px;
    transition: transform 0.12s, color 0.12s;
}

#ListaButoes li:hover{
    transform: scale(1.1);
    color: #576CBC ; 

}
#Botao{
    margin: 7px;
    padding: 10px;
    border: 3px solid  #576CBC;
    border-radius: 25px;
    background-color: transparent;
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.3s, color 0.12s;
}
#Botao:hover{
    transform: scale(0.94);
    background-color: rgba(165, 215, 232, 0.2);

}
#PesquiseAqui{
    margin-left: 3vw;
    background-color: #0B2447;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 25px;
    padding: 10px 10px 10px 20px;
    width: min(35vw, 500px);
}
#PesquiseAqui::placeholder{
    color: white;
    opacity:30%;
}
#h1main{
    text-align: center;
}
#BotaoEdit{
    margin: 7px;
    padding: 10px 20px 10px 20px;
    border: 3px solid  #576CBC;
    border-radius: 25px;
    background-color: transparent;
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.3s, color 0.12s;
}
#BotaoEdit:hover{
    transform: scale(0.94);
    background-color: rgba(165, 215, 232, 0.2);

}
#GenreSelect { /* Não consegui implementar a animação de hover, e ainda tô tentando estilizar as caixas de seleção */
  appearance: none;
  webkit-appearance: none;
  width: 80%;
  font-size: 25px;
  padding: 10px;
  background-color: transparent;
  border: 3px solid #576CBC;
  border-radius: 35px;
  color: #white;
  cursor: pointer;
  text-align: center;
  display: block;
  margin: auto;
}

#RatedSelect {
  appearance: none;
  webkit-appearance: none;
  width: 30%;
  padding: 5px;
  font-size: 17px;
  background-color: transparent;
  border: 3px solid #576CBC;
  border-radius: 35px;
  color: #white;
  cursor: pointer;
  text-align: center;
  display: block;
}

#GenreSelect::-webkit-scrollbar, #RatedSelect::-webkit-scrollbar {
  margin-top: 10px;
  background-color: transparent;
  width: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#GenreSelect::-webkit-scrollbar-thumb, #RatedSelect::-webkit-scrollbar-thumb {
  background-color: #0B2447;
  border-radius: 25px;
  width: 10px;
  height: 10px;
}

#AdditionalFilters {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  cursor: pointer;
  transition: transform 0.3s, color 0.12s;
}

#CheckBoxInput {
  margin-top: 2.5vh;
}

.form-label {
  margin-top: 2.5vh;
  margin-bottom: 1vh;
  text-align: center;
}

.form-field {
  width: 40%;
  padding: 2px 10px 2px 15px;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: #0B2447;
  font-size: 15px;
}

.form-field::placeholder {
  color: white;
  opacity: 30%;
  text-align: left;
  text-size: ;
}

.field-left, .field-right {
  width: 20%;
  padding: 2px 10px 2px 15px;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: #0B2447;
  font-size: 15px;
}

.field-left::placeholder, .field-right::placeholder {
  color: white;
  opacity: 30%;
  text-align: left;
}

.div-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-inline {
  display: inline-block;
  flex-direction: column;
  text-align: center;
}

.main{
  display:flex;
  margin-top:30px;
  justify-content: center;
  flex-direction: column;
}

.profile-pic-nav-container{
  display: flex; 
  justify-content: center; 
  align-content: center; 
  width: 55px;
  aspect-ratio: 1/1;
  padding-left: 10px;
}

.profile-pic-nav{
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  border: 4px solid #576CBC;
  width: 55px;
  aspect-ratio: 1/1;
}

.profile-pic-nav:hover{
  transform: scale(0.94);
  border-color: #A5D7E8
}

.profile-pic{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid #576CBC;
}

.profile-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.profile-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #2d325b;
  border-radius: 2.5rem;
  width: min(80%, 1100px);
  padding: 1.5rem 4rem 2rem 2rem;
}

.profile-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.profile-info-txt{
  font-size: 1.2rem;
}

.update-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
  margin-left: 35vw;
  margin-right: 35vw;
  background-color: #2d325b;
  padding-top: 1.5vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  border-radius: 2.5vw;
}

.update-profile-info input{
  background-color: #313866;
  border: 2px solid #576CBC;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}
.update-profile-info input[type='file']{
  background-color: #313866;
  border: 2px solid #576CBC;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.update-profile-info textarea{
  background-color: #313866;
  border: 2px solid #576CBC;
  border-radius: 10px;
  resize: none;
  padding: 5px;
  width: 100%;
  max-height: 150px;
}

.profile-assistidos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: min(3%, 43.1875px);
  margin-bottom: min(3%, 43.1875px);
}

.profile-assistidos-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 27px;
  width: min(70%, 1008px);
}

.profile-assistidos {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.profile-assistidos img {
  display: block;
  border-radius: 10px;
  width: min(100%, 180px);
  height: 280px;
  object-fit: cover;
}

.profile-assistidos-hidden {
  position: absolute;
  width: 180px;
}

.profile-assistidos:hover img{
      -webkit-filter: brightness(50%);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
      cursor: pointer;
}

.selecionar{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:center;
}

.recomendar{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top:10px;
}

.optionSelect{
  background-color:#313866;
}

.optionSelect:hover {
  background-color: #576CBC;
  color: white;
}

.poster{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  margin:0px 10px 0px 10px;

  position:relative;
}
.posterIMG{
  display:block;
  width:100%;
}
.posterOverlay{
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.6);
  color:#ffffff;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  opacity:0;
  transition: opacity 0.25s;
  text-align:center;
  text-decoration:bold;
}
.posterOverlay:hover{
  opacity:1;
}
.poster:hover{
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}